<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>POS</title>
  @include('includes.include-css')
  {{ css('style') }}
</head>
<body>
  {{-- TODO: Remove the below line after making navbar work --}}
  @loggedIn
    <div class="logout">
      <a type="button" class="logout-button" href="/logout">Logout</a>
    </div>
  @endloggedIn
  @loggedIn
    <div class="body-with-margin">
  @endloggedIn
  <div class="body">
    <section class="title">
      <h1>Bellino</h1>
    </section>
    @loggedIn
      @include('partials.welcome')
    @else
      @include('partials.login')
    @endloggedIn
  </div>
  @loggedIn
    </div>
  @endloggedIn
  @include('includes.include-js')
</body>
</html>
