<h1 class="title">
  Orders
</h1>

<div class="container">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Manufacturer
        </th>
        <th>Cost</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersList">
        <td> {{order.id}} </td>
        <td>
          {{order.created_at | date}}
        </td>
        <td>{{order.manufacturer}} </td>
        <td> {{order.cost}} </td>
        <td>
          <a class="btn btn-info" routerLink="/orders/{{order.id}}">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>
        <td>
          <button class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
