<h1>
  Add Order
</h1>

<form #addOrder="ngForm" action="" >
  <fieldset>
  <div class="order-details">
      <legend>Order details:</legend>
      <label>#: </label> <input type="text"> 
      <label>Date:  </label><input type="datetime-local"> 
    </div>
  </fieldset>
    <fieldset>
    <legend>Items details</legend>
    <label>R. :  </label><input type="text">  
    <label>Color:  </label> <input type="color">  
    <label>Size:  </label> <input type="text">  
    <label>Quantity:  </label> <input id="quantity" type="number" > 
    <label>Price:  </label> <input id="price"type="number">  
    
     
    <button><span class="glyphicon glyphicon-plus"></span></button>
    </fieldset>
  
</form>