<h1 class="title">
  a7la Product list
</h1>
<br>
<small>brought to you by :
  <strong>MushroomSoft</strong>
</small>

<div class="container">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>R.</th>

        <th>Price</th>
        <th>Manufacturer</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!-- <input type="text" [(ngModel)]="updatedProduct.update.id"> -->
          {{product.id}}
        </td>
        <td>
          <input type="text" [(ngModel)]="updatedProduct.update.R"> </td>
        <td>
          <input type="text" [(ngModel)]="updatedProduct.update.price">
        </td>
        <td>
          <select [(ngModel)]="updatedProduct.update.manufacturer_id" name="manfufacturer">
            <option *ngFor="let manufacturer of manufacturers" name="manufacturerID" [ngValue]="manufacturer.id">{{manufacturer.name}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="done-btn" (click)="editProduct()">Done</button>
</div>
