h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  font-weight: bold;
  color: #FDF20D;
}

thead {
  background-color: #FDF20D;
}

tbody:nth-child(even) {
  background-color: grey;
}

td,
th {
  border-top: 0px !important;
  border: 1px solid;
  text-align: center;
}

small {
  color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-btn {
  background: #FDF20D;
  font-size: 1.5em;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -2px 3px 10px;
}
