.title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #FDF20D;
}
.title h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
    font-weight: bold;
}
