<h2>
  You are now Editing order with ID: {{order.order[0].id}}
</h2>
<h3>
  It has costed you: {{order.order[0].cost | currency:'EGP'}}
</h3>
<h3>manf: {{order.order[0].manufacturer.name}}</h3>


<div class="container" *ngIf="order.items.length > 0">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>R</th>
        <th>Color</th>
        <th>Size</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>
          <!-- <input type="text" required [(ngModel)]="item.R" /> -->
          {{item.R}}
        </td>
        <td>
          <!-- <input type="text" required [(ngModel)]="item.color" /> -->
          {{item.color}}
        </td>
        <td>
          <!-- <input type="text" required [(ngModel)]="item.size" /> -->
          {{item.size}}
        </td>
        <td>
          {{item.price}}
          <!-- <input type="text" required [(ngModel)]="item.price" /> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="order.items.length == 0">
  the order is empty for some reason
</div>
<!-- <button (click)="doneEditing()">Done Editing</button> -->
