<h1 class="title">
  Stock
</h1>

<div class="container">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>R.</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <!-- <th>edit</th>
        <th>delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stockItem of stock">
        <td>
          <a class="btn " (click)="editStockItem(stockItem)" routerLink="/stock/{{stockItem.R}}">
            {{stockItem.R}}
          </a>
        </td>
        <td> {{stockItem.quantity}} </td>
        <td>{{stockItem.price}} </td>
        <td> {{stockItem.manufacturer}} </td>
        <!-- <td>
          <a class="btn btn-info" (click)="editStockItem(stockItem)" routerLink="/stock/{{stockItem.R}}">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" (click)="editStockItem(stockItem)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
