
<h1 class="title">Stock</h1>


<div class="container">
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>R.</th>
				<th>Quantity</th>
				<th>Price</th>
        <th>Manufacturer</th>
        <!-- <th>edit</th>
        <th>delete</th> -->
			</tr>
		</thead>
		<tbody>
    		<tr>
            <td>
              <a id="" class="itemR" data-toggle="modal" data-target="#myModal">
                100
              </a>
            </td>
            <td> 200 </td>
            <td>300 </td>
            <td> NIKE </td>
            <!-- <td>
              <a class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
            <td>
              <button class="btn btn-danger">
            	   <i class="glyphicon glyphicon-trash"></i>
              </button>
            </td> -->
        </tr>
        <tr>
            <td>
              <a id="" class="itemR" data-toggle="modal" data-target="#myModal">
                50
              </a>
            </td>
            <td> 800 </td>
            <td>310 </td>
            <td> ADIDAS </td>
            <!-- <td>
              <a class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
            <td>
              <button class="btn btn-danger">
            	   <i class="glyphicon glyphicon-trash"></i>
              </button>
            </td> -->
        </tr>
        <tr>
            <td>
              <a id="" class="itemR" data-toggle="modal" data-target="#myModal">
                700
              </a>
            </td>
            <td> 460 </td>
            <td>200 </td>
            <td> DK </td>
            <!-- <td>
              <a class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
            <td>
              <button class="btn btn-danger">
            	   <i class="glyphicon glyphicon-trash"></i>
              </button>
            </td> -->
    		</tr>
		</tbody>
	</table>
