
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
    font-weight: bold;
    color: #FDF20D;
}
thead {
  background-color: #FDF20D;
}
tbody:nth-child(even) {
  background-color: grey;
}
td {
  border-top: 0px !important;
}